<!DOCTYPE html>
<html lang="eng">

<head>
   <!-- head for pages  -->
   <script src="../components/head-tag-rest.js" type="text/javascript" defer></script>
   <head-tag-rest></head-tag-rest>
   <!-- end - head for pages -->
   <script defer src="../docs/script.js"></script>
   <script defer src="../components/header.js" type="text/javascript"></script>

   <link rel="stylesheet" href="../style.css" />

</head>

<body>
   <!-- HEADER  -->
   <header-component class="disappear"></header-component>


   <h1>Very Lucky Craft Shop</h1>

   <div class="background">
      <img src="" alt="Background Picture" class="background-image" id="back-image" />
   </div>

   <!-- READ CARD(S)  -->

   <section id="page" class="read-works">
      <div class="read-card">
         <div class="read-heading">
            <h2>Very Lucky Craft Shop</h2>
            <p>wordPress website | color palette | identity | logo | ecommerce</p>
         </div>
         <div class="read-block">
            <p>
               This is a lorem ipsum content that'll be replaced with information.
            </p>
            <p><cite>
                  "In my sleep, in the day
                  In my life, in the way
                  All the day, on the town
                  In the bus, on the ground
                  In the air, in the sea
                  When I laugh, cry, try to eat
                  There was you
                  All I could see was you"
               </cite> <i>by Angela McCluskey, Marcus Fuereder (Parov Stelar / Don't Believe What They Say / The Demon
                  Diaries)</i></p>
         </div>
      </div>
      <div class="only-card">
         <a href="https://ceylaninsel.art/" target="_blank" class="external">
            <button class="btn-ext" label="visit">Visit</button>
         </a>
      </div>
   </section>

   <section class="triplecolumn">
      <left class="left-column"></left>
      <middle class="mid-column"></middle>
      <right class="right-column"></right>
   </section>

   <section class="sprites">

   </section>

   <footer>
      <button class="btn-int" label="main">
         <a href="../index.html">Main</a>
      </button>
      <button class="btn-int" label="contact">
         <a href="./contact.html">Contact</a>
      </button>
   </footer>
</body>

</html>