<!DOCTYPE html>
<html lang="eng">

<head>
  <!-- head for pages  -->
  <script src="../components/head-tag-rest.js" type="text/javascript" defer></script>
  <head-tag-rest></head-tag-rest>
  <!-- end - head for pages -->
  <script defer src="../script.js"></script>
  <script defer src="../components/header.js" type="text/javascript"></script>
  <script defer src="./sprites.js" type="text/javascript"></script>
</head>

<body>
  <header-component class="disappear"></header-component>

  <h1>Coffee Molecule</h1>

  <bg-revealer-component class="disappear"></bg-revealer-component>


  <section id="page-read" class="page read-works">
    <div class="read-card">
      <div class="read-heading">
        <h2>coffeemolecule.com</h2>
        <p>website | e-commerce | graphic design | marketing | consulting</p>
      </div>
      <div class="read-block">
        <ul>
          <li>A unique interface creation</li>
          <li>Woocommerce infrastructure setup</li>
          <li>Product archive reorganisation</li>
          <li>Google ads campaigns creation, publishing & management</li>
          <li>Improving text content for consistent ad campaigns</li>
          <li>Retouch, resize & optimize visual materials</li>
        </ul>
      </div>
    </div>
    <div class="only-card">
      <button class="btn-ext" label="visit">
        <a href="https://coffeemolecule.com" target="_blank">Visit</a>
      </button>
    </div>
  </section>

  <section class="triplecolumn">
    <left class="left-column"></left>
    <middle class="mid-column"></middle>
    <right class="right-column"></right>
  </section>

  <sprites-component class="disappear"></sprites-component>

  <footer>
    <button class="btn-int" label="main">
      <a href="../index.html">Main</a>
    </button>
    <button class="btn-int" label="contact">
      <a href="./contact.html">Contact</a>
    </button>
  </footer>
</body>

</html>